.game-top-bar
    align-items: flex-start
    display: flex
    justify-content: space-between
    padding: .5rem

    .game-title
        margin: 0
        width: fit-content

    .game-details
        align-items: center
        display: flex
        flex-direction: column
        justify-content: space-around
        height: 100%

        width: 175px

        .game-details__detail
            display: flex
            justify-content: space-between
            width: 100%
