@import url("https://fonts.googleapis.com/css2?family=Wellfleet&display=swap");
* {
  color: white;
  font-family: "Wellfleet", cursive; }

*::-webkit-input-placeholder {
  color: #DDD; }

*:-moz-placeholder {
  color: #DDD;
  opacity: 1; }

*::-moz-placeholder {
  color: #DDD;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #DDD; }

*::-ms-input-placeholder {
  color: #DDD; }

*::placeholder {
  color: #DDD; }

body {
  background: rgba(16, 217, 217, 0.8); }

.button {
  align-items: center;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.5rem;
  justify-content: center;
  height: 50px;
  min-width: 200px;
  transition: transform 50ms linear; }
  .button:hover:enabled {
    transform: rotate(5deg); }
  .button:focus {
    outline: none; }
  .button:disabled {
    border-color: rgba(255, 255, 255, 0.6);
    cursor: default;
    color: rgba(255, 255, 255, 0.6); }
  .button.button--x-large {
    font-size: 2rem;
    height: 75px;
    width: 350px; }

.form .form__input {
  background: none;
  border: 2px solid white;
  box-sizing: border-box;
  color: white;
  height: 50px;
  min-width: 300px;
  padding-left: 1rem;
  text-align: center; }
  .form .form__input:focus {
    outline: none; }
  .form .form__input.form__input--x-large {
    font-size: 2rem;
    height: 75px;
    width: 450px; }

.error {
  color: #CB2A2A; }

.header-no-margin {
  margin: 0; }

.card {
  background: #95ff00;
  border: 5px solid white;
  border-radius: 10px;
  height: 175px;
  width: 100px; }
  .card.card--hover-effect {
    cursor: pointer;
    transition: all 50ms linear; }
    .card.card--hover-effect:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      transform: scale(1.05); }
  .card.card--face {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative; }
    .card.card--face > h1 {
      font-size: 4rem; }
    .card.card--face > span {
      font-size: 1.5rem;
      position: absolute; }
      .card.card--face > span:first-child {
        left: 10px;
        top: 10px; }
      .card.card--face > span:last-child {
        right: 10px;
        bottom: 10px;
        transform: rotate(180deg); }
  .card.card--back {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .card.card--back > span {
      font-size: 2rem;
      position: absolute;
      width: fit-content; }
      .card.card--back > span:first-child {
        top: 25px;
        transform: rotate(-210deg); }
      .card.card--back > span:last-child {
        bottom: 25px;
        transform: rotate(-30deg); }
  .card .card--underline-value {
    text-decoration: underline; }

.players-joining {
  align-items: center;
  height: calc(100% - 76px);
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .players-joining .players {
    align-items: center;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    width: 100%; }

.player-board-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0; }

.player-board {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto auto auto auto;
  width: fit-content; }

.card-stacks {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: fit-content; }
  .card-stacks .card {
    margin: 0.25rem 2rem; }

.title {
  font-size: 5rem;
  padding-top: 1rem;
  margin: 0;
  text-align: center; }

.options {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 76px);
  justify-content: space-evenly;
  width: 100%; }

.game-top-bar {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem; }
  .game-top-bar .game-top-bar__title {
    margin: 0;
    width: fit-content; }
  .game-top-bar .game-top-bar__message {
    align-self: center;
    font-size: 2rem; }
  .game-top-bar .game-top-bar__details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 175px; }
    .game-top-bar .game-top-bar__details .game-top-bar__detail {
      display: flex;
      justify-content: space-between;
      width: 100%; }

.play-area {
  align-items: center;
  display: flex;
  height: calc(100% - 76px);
  justify-content: space-around; }
  .play-area .play-area__right {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    text-align: center; }
  .play-area .play-area__players-score {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .play-area .play-area__players-score .player-details {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      justify-content: center;
      margin: 1rem 0; }
      .play-area .play-area__players-score .player-details .player-details__name {
        text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
